:root {
  --primary: #7dc2f6;
  --primary-dark: #006493;
  --surface: #192a36;
  --background: #141c23;
  --neutral-20: #eaf2fc;
  --foreground: var(--neutral-20);

  --lwt-accent-color: var(--background) !important;
  --lwt-accent-color-inactive: var(--background) !important;
}

@-moz-document url(about:newtab), url(about:home) {
  body {
    --newtab-background-color: var(--background);
    --newtab-background-color-secondary: var(--surface);
  }

  /* new tab rounded shortcuts  */
  .top-site-button .tile {
    border-radius: 50% !important;
    overflow: hidden;
  }

  .top-site-button .tile .icon-wrapper {
    width: 100% !important;
    height: 100% !important;
    /* material 3 mono icon */
    background-color: var(--primary) !important;
  }

  .top-site-icon {
    /* material 3 mono icon */
    mix-blend-mode: luminosity;

    background-color: var(--primary) !important;
    width: 100%;
    height: 100%;
  }
}

@-moz-document url-prefix(about:) {
  :root {
    --in-content-page-background: var(--background) !important;
    --in-content-box-background: var(--background) !important;
    --in-content-accent-color: var(--primary) !important;
  }
}

@-moz-document url-prefix(chrome://devtools/content/)
{
  .theme-dark {
    --theme-body-background: var(--background) !important;
    --theme-sidebar-background: var(--background) !important;
    --theme-tab-toolbar-background: var(--background) !important;
    --rule-header-background-color: var(--background) !important;
  }
}

@-moz-document domain(google.com) {
  body,
  .sfbg, /* topbar */
  .yg51vc, /* topnav */
  .appbar, /* result count */
  .Ww4FFb, /* list item */
  .FalWJb /* related searches rich */ {
    background-color: var(--background) !important;
  }
  .RNNXgb, /* search */
  .aajZCb, /* suggestion */
  .k8XOCe /* related searches chips */ {
    background-color: var(--surface) !important;
  }

  a {
    color: var(--primary) !important;
  }

  #sfooter {
    display: none;
  }
}

@-moz-document domain(youtube.com) {
  html[dark],
  [dark] {
    --yt-spec-base-background: var(--background) !important;
    --yt-spec-additive-background: var(--surface) !important; /* chips */
    --yt-spec-menu-background: var(--surface) !important;
  }

  .ytd-searchbox {
    --ytd-searchbox-background: var(--surface);
    border: 0 !important;
  }

  /* disable player ambient mode */
  #cinematics canvas {
    display: none;
  }
}

@-moz-document domain(libreddit.kavin.rocks) {
  body {
    --background: var(--background);
    --outside: var(--background);
    --post: var(--background);
    --foreground: var(--surface);
    --highlighted: var(--surface);
  }
}

@-moz-document domain(photos.google.com) {
  .QtDoYb, /* top bar */
  .eReC4e, /* subheader */
  .RSjvib   /* sidebar */ {
    background-color: var(--background) !important;
  }

  /* sidebar active link */
  .uprWmb {
    background-color: var(--surface) !important;
  }

  /* search */
  .Aul2T {
    background-color: var(--surface) !important;
  }
}
