[Unit]
Description=R65 keyboard double-click fix
After=systemd-udevd.service

[Service]
ExecStart=/bin/sh -c 'exec /usr/bin/double-click-fix /dev/input/by-id/usb-Hangsheng_RK-R65-*event*'

[Install]
WantedBy=multi-user.target
