/* new tab */
window.background.chromium {
  background-color: @background;
}

/* tabstrip
==================== */
window.background.chromium menubar {
  /* background-color: @background; */

  color: @secondary;
}
window.background.chromium > button {
  /* fixes bottom border bleed */
  border: 1px solid @background;
}
