entry {
  min-height: 40px;
  padding: 0 16px;
  border-radius: 24px;
  background-color: @popover;
}

dialog entry {
  background-color: @card;
}

/* thunar address bar folder icon */
entry image.left {
  margin-right: 8px;
}
