@import url('colors.css');
@import url('button.css');
@import url('menu.css');
@import url('entry.css');
@import url('dialog.css');
@import url('filechooser.css');
@import url('chromium.css');

.background {
  color: @foreground;
  background-color: @background;
}

:disabled {
  opacity: 0.5;
}

scrollbar slider {
  min-width: 4px;
  border-radius: 24px;
  background-color: @hover;
}

scrollbar button {
  padding: 0;
}

tooltip.background {
  background-color: @card;
  border-radius: 24px;
}

tooltip label {
  margin: 0 4px;
}

.view:selected {
  background-color: @card;
}

.view:not(:selected):hover {
  background-color: @popover;
}

scale trough {
  border-radius: 24px;
}

scale highlight {
  border-radius: 24px;
}
