menu {
  border-radius: 24px;
  background-color: @popover;
}

menuitem {
  min-height: 40px;
  padding: 0 16px;
}

menuitem:hover {
  background-color: @card;
}

menu separator {
  background-color: @hover;
}

/* Fixes background bleed on rounded corners */
.background.popup {
  background-color: transparent;
}
menu menuitem:first-child {
  border-radius: 24px 24px 0 0;
}
menu menuitem:last-child {
  border-radius: 0 0 24px 24px;
}
