/* new tab */
window.background.chromium {
  background-color: @primary_surface;
}

/* tabstrip
==================== */
window.background.chromium menubar {
  /* background-color: @primary_surface; */

  color: @neutral_40;
}
window.background.chromium > button {
  /* fixes bottom border bleed */
  border: 1px solid @primary_surface;
}
