/* new tab */
window.background.chromium {
  background-color: @primary_surface;
}

/* tabstrip ======== */
window.background.chromium menubar {
  /* background-color: @primary_surface_0; */
}
/* bottom border color */
window.background.chromium > button {
  border: 1px solid @primary_surface;
}
/* inactive foreground */
window.background.chromium menubar {
  color: @neutral_40;
}

window.background.chromium > button:disabled {
  color: rgb(255, 3, 3);
}
