menu {
  border-radius: 24px;
  background-color: @primary_surface_2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

menuitem {
  min-height: 40px;
  padding: 0 16px;
}

menuitem:hover {
  background-color: @primary_surface_3;
}

menu separator {
  background-color: @primary_surface_4;
}

/* Fixes background bleed on rounded corners */
.background.popup {
  background-color: transparent;
}
menu menuitem:first-child {
  border-radius: 24px 24px 0 0;
}
menu menuitem:last-child {
  border-radius: 0 0 24px 24px;
}
