$foreground: #eaf2fc;
$surface: #192a36;
$primary: #7dc2f6;
$primary-90: #004163;
$primary-70: #2373a3;

* {
  all: unset;
}

.icon {
  font-family: Material Icons Outlined;
  font-size: 16px;
}

button,
.button {
  padding: 8px;
  border-radius: 30px;
}

button:hover,
.button:hover {
  background-color: rgba(125, 194, 246, 0.1);
}

tooltip.background {
  background-color: $surface;
  border-radius: 30px;
}

tooltip label {
  color: $primary;
  margin: 0 4px;
}

.icon.start {
  margin-right: 4px;
}

.topbar {
  .body {
    background-color: $surface;
    color: $primary;
    border-radius: 30px;
    font: 14px Google Sans;
  }

  .body.open {
    padding: 0 8px;
    /* larger mouseout area */
    margin: 0 0 40px 100px;
  }
}

.media .progress {
  trough {
    min-width: 160px;
    min-height: 24px;
    border-radius: 30px;
    background-color: $primary-90;
  }

  highlight {
    border-radius: 30px;
    background-color: $primary-70;
  }
}

.apps {
  border-radius: 16px;
  padding: 16px 16px 0 16px;
  background-color: $surface;

  .search {
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    margin-bottom: 8px;

    .icon {
      font-size: 20px;
    }
  }

  .app {
    border-radius: 16px;
    padding: 0 16px;

    &:first-child {
      background-color: rgba(255, 255, 255, 0.3);
    }

    .icon {
      background-repeat: no-repeat;
      background-size: 40px;
    }
  }
}
