$foreground: #eaf2fc;
$surface: #192a36;
$surface-2: rgba(125, 194, 246, 0.1);
$primary: #7dc2f6;
$primary-90: #004163;
$primary-70: #2373a3;

* {
  all: unset;
}

.icon {
  font: 16px Material Icons Outlined;
}

.icon.start {
  margin-right: 4px;
}

button {
  padding: 8px;
  border-radius: 30px;
}

button:hover {
  background-color: $surface-2;
}

tooltip.background {
  background-color: $surface;
  border-radius: 30px;
}

tooltip label {
  color: $foreground;
  margin: 0 4px;
}

.topbar {
  .body {
    font: 14px Google Sans;
    border-radius: 30px;
    background-color: $surface;
    color: $foreground;
  }

  .body.open {
    padding: 0 8px;
    /* larger mouseout area */
    margin: 0 0 40px 100px;
  }
}

.media .progress {
  trough {
    min-width: 164px;
    min-height: 24px;
    border-radius: 30px;
    background-color: $primary-90;
  }

  highlight {
    border-radius: 30px;
    background-color: $primary-70;
  }
}

.apps {
  padding: 16px 16px 0 16px;
  border-radius: 16px;
  background-color: $surface;

  .search {
    padding: 0 16px;
    margin-bottom: 8px;
    border-radius: 30px;
    background-color: $surface-2;

    .icon {
      font-size: 20px;
    }
  }
}
